
@media (max-width: 445px) {
  .banner-copas{
    height: 4.375rem;
    object-fit: contain;
  }

  .barra-nav{
    @include flex (column, center, center, none);
  }

  .barra-nav li img{
    display: none;
  }

  .news-container{
    @include grid (repeat(1,1fr), repeat(4, 18.75rem), none);
  }

  .art-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .art-2{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .art-3{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .art-4{
    grid-column: 1/2;
    grid-row: 4/5;
  }

  h1{
    font-size: map-get($font-size, h1-sm);
  }

  .actualidad-cont {
    @include flex (column, none, center, none);
  }

  #copas-historia {
    width: 18.75rem !important;
  }

  .catalogo-box {
    @include grid (repeat(1, 1fr), none, none)
  }

  .filtro-box p{
    font-size: map-get($font-size, md-size);
  }

  .log-in-box {
    width: 15.625rem;
  }
}