
@media (max-width: 760px) {
  .texto-copas-inter, .texto-copas-nacio{
    display: none;
  }

  .texto-copas-inter-media, .texto-copas-nacio-media{
    display: flex !important;
    font-size: map-get($font-size, regular-size);
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: map-get($font-size, h2);
    margin-left: 0rem;
  }

  h3{
    text-align: center;
    margin-left: 0rem;
  }

  .actualidad-cont{
    @include grid (repeat(2,auto), repeat(2, auto), none); 
    justify-content: center;
    align-items: center;
  }

  .last-match {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .next-match {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .positions{
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .historia-box {
    text-align: center;
  }

  .historia-box img {
    width: 10.9375rem;
    height: 12.5rem;
    float:none;
    margin-right: 0px;
  }

  .banner-tienda{
    display: none;
  }
}