
.banner-copas{
  width: 100%;
  height: 117.66px;
  .copas{
    width: 100%;
    height: 100%;
  }
}

.banner-logo{
  .escudo-logo{
    height: 20rem;
    &:hover{
      transform: scale(1.10);
      transition: 0.5s;
    }
  }
  .texto-copas-inter, .texto-copas-nacio{
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .texto-copas-inter-media, .texto-copas-nacio-media{
    display: none;
  }
}