
.catalogo-box{
  @include grid (repeat(4, 1fr), none, none);
  justify-items: center;
  .ropa-box{
    background-color: $bg-dark;
    width: 11.25rem;
    height: 18.75rem;
    &:hover{
      transform: scale(1.1);
      transition: 0.5s;
    }
    p{
      background-color: $bg-dark;
      margin-top: .3125rem;
      text-align: center;
    }
    .ropa-foto{
      width: 100%;
      height: 15.625rem;
    }
  }
}