
.historia-box{
  p{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  img {
    width: 12.5rem;
    height: 15.625rem;
    float: right;
    margin-right: 2.5rem;
  }
  #copas-historia{
    width: 25rem;
  } 
}
